<div class="container">
  <header class="headermovie"><!-- Start header -->
    <div class="login1">
      <%=link_to "Sign up", new_user_registration_path %> |
      <%=link_to "Login", new_user_session_path %> |
    </div>
      <ul class="headertxt">
          <li><a href="#news">MOVIES & DVDS</a></li>
          <li><a href="#news">TV</a></li>
          <li><a href="#news">NEWS</a></li>
          <li><a href="#about">TICKETS & SHOWTIMES</a></li>
      </ul>
<div class="navbar1">
      <input class="navbar1 navbar2" type="text" name="search" placeholder="Search..">
    </div>
    <img class="imglogo" src="http://www.flixist.com/ul/220739-sad-nerds-start-petition-to-shut-down-rotten-tomatoes-over-bad-suicide-squad-reviews/killer-tomatoes-noscale.jpg">
    <h1 class="tomato">TOMATES PODRIDOS</h1>
  </header><!-- Finish header -->


    <div class="row"><!-- Start row uno -->
      <div class="background1">
        <h6 class="rowunotxt">TRENDING ON RT</h6>
      </div>
    </div><!-- Finish row uno -->
    <br>
    <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Genres</a>
  </div>
</div>
<br>
<!-- Start boxes -->
    <div class="row"><!-- Start row dos -->
      <div class="col-lg-6 col-md- col-xs- box1"><!-- Star col uno -->
        <img class="imagehvr img1" src="http://vignette2.wikia.nocookie.net/dccu/images/6/6f/JL_Wonder_Woman.jpg/revision/latest?cb=20160914003449">
      </div><!-- Finish col uno -->

      <div class="col-lg-3 col-md- col-xs- box2"><!-- Start col dos -->
        <img class="imagehvr img2" src="http://www.ecartelera.com/images/noticias/fotos/34400/34447/2.jpg">
      </div><!-- Finish col dos -->

      <div class="col-lg-3 col-md- col-xs- box3"><!-- Start col tres -->  
        <img class="imagehvr img3" src="http://www.alien-covenant.com/app/xalien-covenant-fill.jpg.pagespeed.ic.rPyCbS72Kx.jpg">
      </div><!-- Finish col tres -->
    </div><!-- Finish row dos -->

    <div class="row"><!-- Start row tres -->
      <div class="col-lg-6 col-md- col-xs- minibox1"><!-- Start col cuatro -->
      </div><!-- Finish col cuatro -->

      <div class="col-lg-3 col-md- col-xs- minibox2"><!-- Star col cinco -->
      </div><!-- Finish col cinco -->

      <div class="col-lg-3 col-md- col-xs- minibox3"><!-- Star col seis -->
      </div><!-- Finish col seis -->
      
    </div><!-- Finish row tres -->
<!-- Finsih boxes -->

<!-- Start list -->
    <div class="row"><!-- Start row cuatro -->
      <div class="col-lg-6 col-md- col-xs- boxtabla1"><!-- Start col siete -->
        <h4 class="txtshadow1"><b>MOVIES OPENING THIS WEEK</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  96%</th>
              <th>Wonder Woman</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  Not Score Yet</th>
              <th>Captain Underpants: The First Epic Movie</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  91%</th>
              <th>I, Daniel Blake</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_amb.gif">  56%</th>
              <th>Dean</th>
              <th>JUN 2</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  88%</th>
              <th>Handsome Devil</th>
              <th>JUN 2</th>
            </tr>
        </table>

        <h4 class="txtshadow1"><b>TOP BOX OFFICE</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  31%</th>
              <th>Pirates of the Caribbean: Dead men tell no tiles</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  81%</th>
              <th>Guardians of the Galaxy VOL.2</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  19%</th>
              <th>Baywatch</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_amb.gif">  71%</th>
              <th>Alien: Covenant</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  46%</th>
              <th>Everything, Everything</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  17%</th>
              <th>Diary Of A Wimpy Kid: The Long Haul</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  37%</th>
              <th>Snatched</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  28%</th>
              <th>King Arthur: Legend of the Sword</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_amb.gif">  52%</th>
              <th>The Boss Baby</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_amb.gif">  71%</th>
              <th>Beauty and the Beast</th>
              <th>  </th>
            </tr>
        </table>

        <h4 class="txtshadow1"><b>COMING SOON TO THEATERS</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  Not  Score Yet</th>
              <th>The Mummy</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  100%</th>
              <th>It Comes At Night</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  No Score Yet</th>
              <th>Megan Leavey (Leavey)</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  No Score Yet</th>
              <th>My Cousin Rachel</th>
              <th>JUN 9</th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  82%</th>
              <th>Beatriz at Dinner</th>
              <th>JUN 9</th>
            </tr>
        </table>
        <br><br><br><br><br>          
      </div><!-- Finish col siete -->

      <div class="col-lg-6 col-md- col-xs- boxtabla2"><!-- Start col ocho -->
        <h4 class="txtshadow1"><b>NEW TV TONIGHT</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  90%</th>
              <th>Downward Dog: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  100%</th>
              <th>House of Cards: Season 5</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  100%</th>
              <th>iZombie: Season 3</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  97%</th>
              <th>The Americans: Season 5</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  83%</th>
              <th>Genius: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  78%</th>
              <th>Victorian Slum House: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_amb.gif">  55%</th>
              <th>Prision Break: Season 5</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  25%</th>
              <th>Imaginary Mary: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  Not Score Yet</th>
              <th>Casual: Season 3</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  Not Score Yet</th>
              <th>Famous in Love: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://thumbs.dreamstime.com/z/esfera-gris-luz-3233069.jpg">  Not Score Yet</th>
              <th>American Epic: Season 1</th>
              <th>  </th>
            </tr>
        </table>      

        <h4 class="txtshadow1"><b>MOST POPULAR TV ON RT</b></h4>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  95%</th>
              <th>Twin Peaks: The Return</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  96%</th>
              <th>American Gods: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  100%</th>
              <th>Master of None: Season 2</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  100%</th>
              <th>The Handmaid's Tale: Season 1</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  98%</th>
              <th>The Leftovers: Season 3</th>
              <th>  </th>
            </tr>
        </table>

        <h4 class="txtshadow1"><b>TOP DVD & STREAMING MOVIES</b></h4>
        <h6>FandangoNOW | Nerflix | iTunes | Amazon | More...</h6>
        <table class="table">
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  92%</th>
              <th>Logan</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  99%</th>
              <th>Get Out</th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="https://cafedelbuho.files.wordpress.com/2012/12/semaforo_rojo2.gif">  35%</th>
              <th>The Great Wall/th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  76%</th>
              <th>Wakefield/th>
              <th>  </th>
            </tr>
            <tr>
              <th><img class="miniimg" src="http://www.nosgustaelfutbol.com/wp-content/uploads/sem_ver.gif">  100%</th>
              <th>My Life as Zucchini (Ma Vie de Courgette)</th>
              <th>  </th>
            </tr>
        </table>  
      </div><!-- Finish col ocho -->
    </div><!-- Finish row cuatro -->
<!-- Finish list -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h3><b>TOP HEADLINE</b></h3>
      <p>The film Wonder Woman obtains an extraordinary critics, on the part of the public and press <span class="glyphicon glyphicon-thumbs-up" aria hidden="true"></span>
      <p>The babywatch, can not please anyone, the actors in the movie laugh at the bad reviews received <span class="glyphicon glyphicon-thumbs-down" aria hidden="true"></span>
      <p>The series American Gods, continues in step firm its season, people wait but to each chapter <span class="glyphicon glyphicon-thumbs-up" aria hidden="true"></span>
      <p>Pirates of the Caribbean: Revenge of Salazar 'raids at box office: 270 million after the first weekend <span class="glyphicon glyphicon-thumbs-up" aria hidden="true"></span>
      <p>The promotional poster of the new Spiderman movie, causes people to laugh. Internet flooded with memes <span class="glyphicon glyphicon-sunglasses" aria hidden="true"></span>
      <p>Twin Peaks has returned, the famous series by David Lynch returns and enthusiastically to the public <span class="glyphicon glyphicon-thumbs-up" aria hidden="true"></span>
    </div>
  </div>
  <div class="row">
    <div class="newsandfeatures">
      <h3><b>NEWS</b></h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3">
      <img style="width: 80%; height: 150px;" src="https://bioteoria.files.wordpress.com/2017/03/cartel-pelc3adcula-logan.jpg">
      <br>
      <p>The movie Logan now on sale on Blu-ray and DVD.</p>
    </div>
     <div class="col-lg-3 col-md-3 col-xs-3">
      <img style="width: 80%; height: 150px;" src="http://yucatan.com.mx/wp-content/uploads/2016/12/amazon-netflix.png">
      <br>
      <p>Inglourious Basterds, Moonlight and more added to Netflix, Amazon Prime.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
      <img style="width: 80%; height: 150px;" src="https://upload.wikimedia.org/wikipedia/en/d/d8/Game_of_Thrones_title_card.jpg">
      <br>
      <p>Game of thrones returns on July 17.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
      <img style="width: 80%; height: 150px;" src="https://1yazat78t1q1ticyv3i8g9il-wpengine.netdna-ssl.com/wp-content/uploads/2014/10/The-Black-Lodge-twin-peaks-9013799-1600-900.jpg">
      <br>
      <p>15 iconic and disturbing Twin Peaks moments to celebrate its return.</p>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-12" style="text-align:center;">
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag t('general.send') %>
    <% end %>
  </div>
</div>
  <footer> <!-- Start footer -->
   <p class="footermovie">JOIN THE NEWSLETTER <span class="glyphicon glyphicon-envelope" aria hidden="true"></span>
    <br>
   <%= link_to "About", about_path %> |
    <%=link_to "Settings", settings_path %>
    <%=link_to "Salir", destroy_user_session_path, :method => :delete %>
   <p>Copyright © Fandango. All rights reserved.</p>
  </footer><!-- Finish footer -->
</div><!-- Finish container -->
